@media (min-width: 769px) {
    .form-container{
        box-shadow: 4px 0px 18px 0px #888888;
    }
}

.snack-preview{
    background: #867365 url(/assets/images/table.jpg) no-repeat;    
    min-height: 600px;
}
.container-fluid {
    overflow:hidden;
}